/.DS_Store
/SEO.docx
/apartment_black_24dp.svg
/css
/estilos.css.map
/francesca-tosolini-tHkJAMcO3QE-unsplash.jpg
/pexels-cottonbro-3205570.jpg
/propietarios.css.map
/node_modules
/package-lock.json